@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

/* Estilos del HEADER */

.top{ 
    background-color: #D1891C;
    color: #333333;
}

.top p{
    padding: 0.25rem 0 0.25rem 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.encabezado{
    padding: 1.5rem;
    background-color: #00669F;
    color: white;
    font-weight: 400;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

/* Estilos del MAIN */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heart{
    width: 8%;
    padding: .5rem;
    position: absolute;
}

.bg-img{
    justify-content: flex-start;
    border-radius: 1rem 1rem 0 0;
}

.profile-img{
    border-radius: 100%;
    width: 35%;
    align-self: center;
    position: absolute;
    margin-top: 45%;
}

h2{
    text-transform: uppercase;
    align-self: center;
    margin-top: 25%;
}

p{
    padding: 1rem;
    font-size: 1rem;
}

button{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: #00669F;
    color: white;
    border: none;
    border-radius: .5rem;
    width: 40%;
    align-self: center;
    margin: .25rem 0 2rem 0;
}

/* Estilos del FOOTER */

footer{
    display: flex;
    flex-direction: row;
    background-color: #00669F;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.footer-copy{
    align-items: center;
    justify-items: center;
}

.footer-logo{
    align-items: center;
    justify-items: flex-end;
    margin-left: 1rem;
}

/* Estilos del BUTTON */

#button-center{
    position: absolute;
    margin-top: 620px;
    margin-left: 85%;
    background-color: #00669F;
    padding: 1.25rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}
